<div>
  <h2><%= project.name %></h2>
  <table class="table">
    <tr>
      <td><%= t "project.abbrev" %></td>
      <td><%= t "project.starttime" %></td>
      <td><%= t "project.endtime" %></td>
    </tr>
    <tr>
      <td><%= project.abbreviation %></td> 
      <td><%= project.startdate %></td>
      <td><%= project.enddate %></td>
    </tr>
  </table>
</div>
