<%= form_for [:admin, @team] do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </p>
    <%= f.label :leader_id, t("admin.team.add_leader") %>
    <%= f.collection_select :leader_id, @leaders, :id, :name %>
  <p>
    <%= f.submit :submit, class: "btn btn-primary col-md-12" %>
  </p>
<% end %>
