<%= form_for [:admin, @team] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>

  <%= f.label :leader %>
  <%= f.collection_select :leader_id, @leaders, :id, :name %>
  <div class="row">
    <%= render "users_in_team", f: f %>
    <%= render "users_not_in_team", f: f %>
  </div>
  <br>
  <p>
    <%= f.submit :submit, class: "btn btn-primary col-md-12" %>
  </p>
<% end %>
