<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("layout.name-system"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to t("skill.index"), skills_path %></li>
          <li><%= link_to t("static-page.home.title"), root_path %></li>
          <li><%= link_to_if current_user.is_admin?, t("layout.user"), admin_users_path%></li>
          <li><%= link_to t("layout.profile"), current_user %>
          <li><%= link_to t("layout.log_out"), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t("static-page.help.title"), help_path %></li>
          <li><%= link_to t("static-page.about.title"), about_path %></li>
          <li><%= link_to t("layout.log_in"), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>